.navbar {
  background-color: #ffffff;
  height: 70px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.logo {
  color: var(--text-carrot);
  font-weight: bold;
  font-size: 2rem;
}

.left-content {
  display: none;
  gap: 20px;
}

.nav-items {
  display: none;
}

.nav-items > ul {
  display: flex;
  gap: 20px;
}

.nav-items > ul > li {
  list-style: none;
  text-decoration: none;
}
.nav-items > ul > li > a {
  text-decoration: none;
  color: var(--text-black);
  font-weight: bold;
  font-size: 1.2rem;
}

.user-btn {
  background-color: #f3f5f9;
  color: #65676a;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
}

.hamburger-btn{
  background-color: transparent;
  border: none;
  color: #65676a;  
  cursor: pointer;
 
}

@media (min-width: 768px) {
  .nav-items {
    display: flex;
  }

  .left-content {
    display: flex;
  }

  .hamburger-btn {
    display: none;
  }
}
