/*+++ Flex classes +++*/

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

/*+++ Grid classes +++*/

.grid {
  display: grid;
}

.grid

/*+++ gaps classes +++*/
.gap-0 {
  gap: 0px;
}
.gap-1 {
  gap: 10px;
}

.gap-2 {
  gap: 20px;
}
